In [2]:
import re

# a) Recognize the strings: bit, but, bat, hit, hat, hut
pattern_a = r'\b(b|h)(it|ut|at)\b'
test_a = ["bit", "but", "bat", "hit", "hat", "hut", "hot", "heat"]
print("a) Matches:", [word for word in test_a if re.fullmatch(pattern_a, word)])


# b) Match any pair of words separated by a single space (first and last names)
pattern_b = r'^[A-Za-z]+ [A-Za-z]+$'
test_b = ["John Smith", "Alice Johnson", "Tom", "Mary Jane Watson"]
print("b) Matches:", [name for name in test_b if re.fullmatch(pattern_b, name)])


# c) Match word and single letter separated by comma and single space
# Example: "Smith, J"
pattern_c = r'^[A-Za-z]+, [A-Za-z]$'
test_c = ["Smith, J", "Anderson, P", "Lee, T", "Brown, AA", "White,T"]
print("c) Matches:", [name for name in test_c if re.fullmatch(pattern_c, name)])


# d) Match simple web domain names: www.*.(com|edu|net|org)
pattern_d = r'^www\.[A-Za-z0-9-]+\.(com|edu|net|org)$'
test_d = ["www.yahoo.com", "www.foothill.edu", "www.example.net", "yahoo.com", "www.site.xyz"]
print("d) Matches:", [site for site in test_d if re.fullmatch(pattern_d, site)])


# e) Match street addresses (flexible format)
# Example: 1180 Bordeaux Drive OR 3120 De la Cruz Boulevard
pattern_e = r'^\d+\s+([A-Za-z]+(?:\s+[A-Za-z]+)*)$'
test_e = [
    "1180 Bordeaux Drive",
    "3120 De la Cruz Boulevard",
    "500 Main St",
    "42 Elm",
    "Main Street"  # Invalid because no number
]
print("e) Matches:", [address for address in test_e if re.fullmatch(pattern_e, address)])

a) Matches: ['bit', 'but', 'bat', 'hit', 'hat', 'hut']
b) Matches: ['John Smith', 'Alice Johnson']
c) Matches: ['Smith, J', 'Anderson, P', 'Lee, T']
d) Matches: ['www.yahoo.com', 'www.foothill.edu', 'www.example.net']
e) Matches: ['1180 Bordeaux Drive', '3120 De la Cruz Boulevard', '500 Main St', '42 Elm']

In [3]:
import re

In [4]:
# a) Recognize the strings: bit, but, bat, hit, hat, hut
pattern_a = r'\b(b|h)(it|ut|at)\b'
test_a = ["bit", "but", "bat", "hit", "hat", "hut", "hot", "heat"]
print("a) Matches:", [word for word in test_a if re.fullmatch(pattern_a, word)])

a) Matches: ['bit', 'but', 'bat', 'hit', 'hat', 'hut']

In [5]:
# b) Match any pair of words separated by a single space (first and last names)
pattern_b = r'^[A-Za-z]+ [A-Za-z]+$'
test_b = ["John Smith", "Alice Johnson", "Tom", "Mary Jane Watson"]
print("b) Matches:", [name for name in test_b if re.fullmatch(pattern_b, name)])

b) Matches: ['John Smith', 'Alice Johnson']

In [6]:
# c) Match word and single letter separated by comma and single space
# Example: "Smith, J"
pattern_c = r'^[A-Za-z]+, [A-Za-z]$'
test_c = ["Smith, J", "Anderson, P", "Lee, T", "Brown, AA", "White,T"]
print("c) Matches:", [name for name in test_c if re.fullmatch(pattern_c, name)])

c) Matches: ['Smith, J', 'Anderson, P', 'Lee, T']

In [7]:
# d) Match simple web domain names: www.*.(com|edu|net|org)
pattern_d = r'^www\.[A-Za-z0-9-]+\.(com|edu|net|org)$'
test_d = ["www.yahoo.com", "www.foothill.edu", "www.example.net", "yahoo.com", "www.site.xyz"]
print("d) Matches:", [site for site in test_d if re.fullmatch(pattern_d, site)])

d) Matches: ['www.yahoo.com', 'www.foothill.edu', 'www.example.net']

In [8]:
# e) Match street addresses (flexible format)
# Example: 1180 Bordeaux Drive OR 3120 De la Cruz Boulevard
pattern_e = r'^\d+\s+([A-Za-z]+(?:\s+[A-Za-z]+)*)$'
test_e = [
    "1180 Bordeaux Drive",
    "3120 De la Cruz Boulevard",
    "500 Main St",
    "42 Elm",
    "Main Street"  # Invalid because no number
]
print("e) Matches:", [address for address in test_e if re.fullmatch(pattern_e, address)])

e) Matches: ['1180 Bordeaux Drive', '3120 De la Cruz Boulevard', '500 Main St', '42 Elm']