In [2]:
import pandas as pd

# ------------------------------
# 1. Create a sample DataFrame
# ------------------------------
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [50000, 60000, 75000, 80000, 65000]
}

df = pd.DataFrame(data)

print("=== Original DataFrame ===")
print(df)

# ------------------------------
# 2. Data Indexing
# ------------------------------
print("\n=== Indexing: Get column 'Name' ===")
print(df['Name'])  # Access single column

print("\n=== Indexing: Get multiple columns (Name, Age) ===")
print(df[['Name', 'Age']])  # Access multiple columns

# ------------------------------
# 3. Data Selection with loc[] and iloc[]
# ------------------------------
print("\n=== Selection using loc[] (by labels) ===")
print(df.loc[0:2, ['Name', 'City']])  # Rows 0 to 2, specific columns

print("\n=== Selection using iloc[] (by positions) ===")
print(df.iloc[1:4, 0:3])  # Rows 1 to 3, first three columns

# ------------------------------
# 4. Data Filtering
# ------------------------------
print("\n=== Filtering: Age > 30 ===")
print(df[df['Age'] > 30])  # Rows where Age > 30

print("\n=== Filtering: Salary between 60000 and 80000 ===")
print(df[(df['Salary'] >= 60000) & (df['Salary'] <= 80000)])

print("\n=== Filtering: People from 'Chicago' or 'Phoenix' ===")
print(df[df['City'].isin(['Chicago', 'Phoenix'])])

=== Original DataFrame ===
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   75000
3    David   40      Houston   80000
4      Eva   28      Phoenix   65000

=== Indexing: Get column 'Name' ===
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

=== Indexing: Get multiple columns (Name, Age) ===
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eva   28

=== Selection using loc[] (by labels) ===
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

=== Selection using iloc[] (by positions) ===
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

=== Filtering: Age > 30 ===
      Name  Age     City  Salary
2  Charlie   35  Chicago   75000
3    David   40  Houston   80000

=== Filtering: Salary between 60000 and 80000 ===
      Name  Age         City  Salary
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   75000
3    David   40      Houston   80000
4      Eva   28      Phoenix   65000

=== Filtering: People from 'Chicago' or 'Phoenix' ===
      Name  Age     City  Salary
2  Charlie   35  Chicago   75000
4      Eva   28  Phoenix   65000